body {
    background-color: darkgray;
    display: box-sizing;
    justify-content: center;
    font-family: 'Pacifico', Verdana, Geneva, Tahoma, sans-serif;
}

/* combination of  img{max-width: 100%;} + #tableau-5{grid-template-rows: repeat(auto-fill, 3rem);}*/
/* use #tableau-5{grid-template-rows: repeat(auto-fill, 3rem);} for expanded view?*/
/* use #tableau-5{grid-template-rows: repeat(auto-fill, 2rem);} for minimized view? <--- instead, use 4vh? */

/****************** header *******************/

/******************  main  *******************/
main {
    display:grid;
    grid-template-columns: 10vw auto 10vw;
    grid-template-rows: 6vh 40vh auto;

}

#titleDiv{
    background-color: gray;
    text-align:center;
    color:white;
    font-size: 2rem;
}

img {
    max-width: 100%;

}
/**********************************************/
/* tableau defines the Tableau area containing grid structure: 7 columns */
/* grid-template-column defines the 7 columns */
/* should receive information from main{} css */
#tableau {
    display: grid;
    width: auto;
    grid-template-columns: repeat(7, auto);
    background-color: thistle;
    grid-column-gap: 2vw;
}



/**********************************************/
/* experimentation flex */
/* (1) - transform or translate */
/* .class:nth-child(N) {
    transform:x, y;
} */
/* (2) - margin*/
/* .class:nth-child(N) {
    margin-top: -10px)
} */
/* (3) position: relative */
/* .class:nth-child(N) {
    position: relative;
    top: -100px;
} */

/* (4) position: absolute -> make sure to make parent container position:relative*/
/* .class:nth-child(N) {
    position: absolute;
    top: -100px;
} */

/* (5) position: absolute -> make sure to make parent container position:relative*/
/* .class:nth-child(N) {
    position: absolute;
    top: 100px;
} */

/* (6) position: absolute -> make sure to make parent container position:relative*/
/* .class:nth-child(N) {
    position: absolute;
    z-index: -1; <-- order on top of another element
    top: 100px;
} */





#tableau-1 {
    display:flex;
    flex-direction: column;
    position:relative;
    align-items: flex-start;
    
}


/* USE THIS!! */
#tableau-1 div:nth-child(3) {
    margin-top: -110%;
}
#tableau-1 div:nth-child(4) {
    margin-top: -110%;
}
#tableau-1 div:nth-child(5) {
    margin-top: -110%;
}
#tableau-1 div:nth-child(6) {
    margin-top: -110%;
}






/**********************************************/
/* id name tableau-0 through -6 define the 7 columns inside the tableau */
/* grid-template-rows to establish the number of cards in a column?*/
#tableau-5{
    display: grid;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-rows */
    grid-template-rows: repeat(auto-fill, 4vh);
    /* grid-template-rows: repeat(auto-fill, 50px); */
    background-color:blue;
    width: 100%;
}

#tableau-5 > * {
    width:100%;
    height: auto;
    background-color: aqua;
    object-fit:cover;
}

/* Unsure if max-width or width is the apt declaration */
#tableau-6 {
    display: grid;
    grid-template-rows: repeat(auto-fill, 3rem);
    background-color:black;
    max-width: 100%;

}
/* UNRESOLVED:  */
/* 1. stack images on top of each other  */
/* proposed methods: a) z-index: 0;      */
/* https://stackoverflow.com/questions/45762158/overlapping-images-in-css-grid */
/* 2. transform: translate(-50%, -50%); */

#tableau-6 > * {
    width:100%;
    height: auto;
    background-color:red;
    object-fit:cover;

}

#tableau-6:nth-child(2) {
    background-color: red;
}


#tableau-6 > img:nth-child(2) {

}

#tableau-6 > img:nth-child(3) {

}

#tableau-6 > img:nth-child(4) {
    /* width: 100%;
    background-color:violet; */
}