:root{
    --card-width: 10vw;
    --card-height: var(--card-width)*1.4;
    --row3-height: var(--card-width)*2;
    --play-area-color :rgb(69, 90, 96); 
    --cols: 1fr 12fr 1fr;
    --rows: 10vh 10vh 30vh 50vh;

}


/* --rows: 4fr 1fr var(--row3-height) 11fr; */
/* var(--row3-height) 60vh */
body {
    margin: 0;
    display: box-sizing;
    justify-content: center;
    font-family: 'Pacifico', Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    background-image: url("../images/nightsky.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(158, 152, 152, 50);
}
/****************** header *******************/

/******************  main  *******************/

main {
    display: box-sizing;
    
    display: grid;
    grid-template-columns: var(--cols);
    grid-template-rows: var(--rows);
    grid-template-areas: 
    tl tc tr
    c1l c1c c1r
    c2l c2c c2r
    bl bc br; 
    color: #EDE9D5;
}

.tableau {
    display: grid;
    width: auto;
    grid-template-columns: repeat(7, auto);
    background-color: var(--play-area-color);
    grid-column-gap: 1.5vw;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    background: linear-gradient(rgb(69, 90, 96), gray);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    z-index: -1;
}

.foundation {
    padding-top: 1rem;
    padding-bottom: 0.5rem;

    display: grid;
    border-top-left-radius: 1.5rem;
    width: auto;
    grid-template-columns: repeat(7, auto);
    background-color: var(--play-area-color);
    grid-column-gap: 1.5vw;
    padding-left: 1rem;
    padding-right: 1rem;
}

#titleDiv, #titleDivMain{
    text-align:center;
    color:white;
    font-size: 2rem;
    margin-bottom: -2.5rem;
}

#titleDivMain h1{
    margin: 0rem;
    background: linear-gradient(180deg, white, rgb(159, 156, 156) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    vertical-align:center;
}


/* erase tthis section after done*/
/* .row1, .row2, .row3 {
    border: solid red
} */
/* above */



#buttonArea {
    
    display:flex;
    justify-content: flex-end;
    cursor: pointer;
}

#buttonArea div:nth-last-child(1){
    background-color: rgba(69, 90, 96);
    width: 20vw;

    border-top-left-radius: 2rem;
    border-top-right-radius: 0.5rem;
    font-size: 1rem;
}
#buttonArea h4 {

    text-align: center;
    color: gainsboro;
}
.button {
    cursor: pointer;
}



/* allows the svg to stick to same size in whole document */
img {
    width: var(--card-width);
    height: var(--card-height);
}


/* allows the cards to stack */


/* .stack{} === .tab div{} */
/* .marker{} ==== .stack-Div*/
.tab div{
    width: var(--card-width);
}


/* allows the cards to stack */
.tableau .stack div{
    height:1rem;
    border-top-left-radius: .6rem;
    border-top-right-radius: .5rem;
    width: auto;
    background-color: var(--play-area-color);
}


.tableau .stack div:nth-child(2){
    height:0;
}
.foundation .stack div {
    height: 0;
}
.foundation .deal div, .foundation .waste div{
    height:0.5rem;
}
.foundation .waste div{
    height:0.02rem;
}

.foundation .deal div:first-child, .foundation .waste div:first-child{
    height:0;
}
.foundation .deal div:nth-child(2), .foundation .waste div:nth-child(2){
    height:0;
}



.card-selection {
    outline-offset: -0.5px;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 7px 2px rgb(218, 218, 218);
}

.marker{
    height:0;
}

/* 
.tab{
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-column-gap: 0.5vw;
} */
