:root {
    --main-row-1: 3vw;
    --play-area-color: rgb(69, 90, 96);
}

body {
    background-color: gray;
    display: box-sizing;
    justify-content: center;
    font-family: 'Pacifico', Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
}

nav {
    height:var(--main-row-1);
    background-color: darkgray;
}

img {
    max-width: 100%;
}

/* combination of  img{max-width: 100%;} + #tableau-5{grid-template-rows: repeat(auto-fill, 3rem);}*/
/* use #tableau-5{grid-template-rows: repeat(auto-fill, 3rem);} for expanded view?*/
/* use #tableau-5{grid-template-rows: repeat(auto-fill, 2rem);} for minimized view? <--- instead, use 4vh? */

/****************** header *******************/

/******************  main  *******************/
main {
    display:grid;
    grid-template-columns: 5vw auto 5vw;
    grid-template-rows: auto auto auto auto;

}

#titleDiv, #titleDivMain{
    background-color: gray;

    text-align:center;
    color:white;
    font-size: 2rem;
    margin-bottom: -2.5rem;
}

#titleDivMain h1{
    margin: 0rem;
    background: linear-gradient(180deg, white, gray 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
    vertical-align:center;
}

/* 
#titleDivMain {
    display:grid;
    grid-template-columns: auto auto 20vw;
    grid-template-rows: 1rem;
}

#titleDivMain div{
    background-color: rgb(69, 90, 96);
} */

#buttonArea {
    height: 30px;
    display:flex;
    justify-content: flex-end;

}

#buttonArea div:nth-last-child(1){
    background-color: var(--play-area-color);
    width: 20vw;
    height: 30px;
    border-top-left-radius: 2rem;
    border-top-right-radius: 0.5rem;
    font-size: 0.8rem;
}
#buttonArea h4 {
    margin-top: 0.3rem;
    text-align: center;
    color: gainsboro;
}


.foundationDiv {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

#foundation {
    display: grid;
    border-top-left-radius: 1.5rem;
    width: auto;
    grid-template-columns: repeat(7, auto);
    background-color: var(--play-area-color);
    grid-column-gap: 2vw;
    padding-left: 1rem;
    padding-right: 1rem;
}

#foundation div {
    display:flex;
    flex-direction: column;
    position:relative; 
}

/* #foundation {
    display:grid;
    grid-template-columns: auto auto 60%;
    grid-template-rows: auto auto;
} */


/**********************************************/
/* tableau defines the Tableau area containing grid structure: 7 columns */
/* grid-template-column defines the 7 columns */
/* should receive information from main{} css */
#tableau {
    display: grid;
    width: auto;
    grid-template-columns: repeat(7, auto);
    background-color: var(--play-area-color);
    grid-column-gap: 2vw;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
}

/* Each column in tableau */
#tableau div {
    display:flex;
    flex-direction: column;
    position:relative;
    align-items: flex-start; 
}

/* Each card from 3rd -> end in column */
/* USE THIS!! :nth-child(n+3) allows selection of all chidren after third position! */
#tableau div div:nth-child(n+2) {
    margin-top: -110%;
}






/**********************************************/
/* id name tableau-0 through -6 define the 7 columns inside the tableau */
/* grid-template-rows to establish the number of cards in a column?*/
#tableau-5{
    display: grid;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-rows */
    grid-template-rows: repeat(auto-fill, 4vh);
    /* grid-template-rows: repeat(auto-fill, 50px); */

    width: 100%;
}

#tableau-5 > * {
    width:100%;
    height: auto;

    object-fit:cover;
}

/* Unsure if max-width or width is the apt declaration */
#tableau-6 {
    display: grid;
    grid-template-rows: repeat(auto-fill, 3rem);

    max-width: 100%;

}
/* UNRESOLVED:  */


#tableau-6 > * {
    width:100%;
    height: auto;

    object-fit:cover;

}

#tableau-6:nth-child(2) {

}


#tableau-6 > img:nth-child(2) {

}

#tableau-6 > img:nth-child(3) {

}

#tableau-6 > img:nth-child(4) {
    /* width: 100%;
    background-color:violet; */
}