:root{
    --card-width: 10vw;
    --card-height: var(--card-width)*1.4;
    --row3-height: var(--card-width)*2;
    --play-area-color :rgb(69, 90, 96); 
    --cols: 1fr 12fr 1fr;
    --rows: 10vh 10vh minmax(100px, 3fr) 50vh;

    
}
/* --rows: 4fr 1fr var(--row3-height) 11fr; */
/* var(--row3-height) 60vh */
body{
    background-color: gainsboro;
    margin: 0;
    display: box-sizing;
    justify-content: center;
    font-family: 'Pacifico', Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    background-image: url("../images/nightsky.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(158, 152, 152, 50);
}
/****************** header *******************/

/******************  main  *******************/

main {
    display: box-sizing;
    
    background-color: var(--play-area-color);
    
    display: grid;
    grid-template-columns: var(--cols);
    grid-template-rows: var(--rows);
    grid-template-areas: 
    tl tc tr
    cl cc cr
    bl bc br; 
    color: #EDE9D5;
    font-family: 'Source Serif Pro', arial, serif;
}


#tableau {
    display: grid;
    width: auto;
    grid-template-columns: repeat(7, auto);
    background-color: var(--play-area-color);
    grid-column-gap: 2vw;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    background:linear-gradient(rgb(69, 90, 96), gray);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}


#titleDiv, #titleDivMain{
    background-color: rgba(158, 152, 152, 0.3);
    text-align:center;
    color:white;
    font-size: 2rem;
    margin-bottom: -2.5rem;
}

#titleDivMain h1{
    margin: 0rem;
    background: linear-gradient(180deg, white, rgb(159, 156, 156) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    vertical-align:center;
}


/* erase tthis section after done*/
.row1, .row2, .row3 {
    border: solid red
}
/* above */

#buttonArea {
    height: 30px;
    display:flex;
    justify-content: flex-end;
    cursor: pointer;
}

#buttonArea div:nth-last-child(1){
    background-color: rgba(69, 90, 96, 0.5);
    width: 20vw;
    height: 30px;
    border-top-left-radius: 2rem;
    border-top-right-radius: 0.5rem;
    font-size: 0.8rem;
}
#buttonArea h4 {
    margin-top: 0.3rem;
    text-align: center;
    color: gainsboro;
}
.button {
    cursor: pointer;
}








/* div container that holds the cards */
#test {
    height:0rem;
}


.card-selection {

}

/* allows the svg to stick to same size in whole document */
img {
    width: var(--card-width);
    height: var(--card-height);
}


/* allows the cards to stack */

.tab{
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-column-gap: 1vw;

}

/* .stack{} === .tab div{} */
/* .marker{} ==== .stack-Div*/
.tab div{
    width: var(--card-width);
}


/* allows the cards to stack */
.tableau .stack div{
    height:0.8rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    width: auto;
    background-color: var(--play-area-color);
}


.tableau .stack div:nth-child(2){
    height:0;
}

.foundation .stack div {
    height: 0;
}
.foundation .deal div, .foundation .waste div{
    height:0.5rem;
}
.foundation .waste div{
    height:0.02rem;
}

.foundation .deal div:first-child, .foundation .waste div:first-child{
    height:0;
}
.foundation .deal div:nth-child(2), .foundation .waste div:nth-child(2){
    height:0;
}

.marker{
    border: solid red;
    height:0;
    padding-top: 0;
    border-top: 0.15rem solid #EDE9D5;
    border-radius: 0.2rem;
    width:100%;

}



